
<section class="inicio">
    <div class="inicio-content">
        <h1>¡Hola! me llamo: <span>{{title}}</span></h1>
        <div class="texto-animate">
            <h3>{{subtitle}}</h3>
        </div>
        <p>es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el 
            año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló 
            de tal manera que logró hacer un libro de textos especimen.</p>

            <div class="btn-box">
                <a href="#" class="btn">Contratame plis</a>
                <a href="#" class="btn">sobre? </a>           
            </div>

            <div class="inicio-redes">
                <ng-container >
                    <a href="https://www.linkedin.com/in/diego-pablo-peña-villarroel-3b487a1b7" target="_blank" ><i class='bx bxl-linkedin'></i></a> 
                    <!--_blank sirve abre una nueva pestaña ademas al link se le agrega https -->             
                </ng-container>
            </div>
            
    </div>
  
</section>