<section class="educacion" id="educacion">
    <h2 class="cabecera">Mis titulos<span>y cursos</span></h2>
    <div class="educacion-row">

        <div class="educacion-column">
             <h3 class="title">Educacion</h3>

             <div class="educacion-box">
                <div class="educacion-content">
                    <div class="content">
                        <div class="year">2019-2022</div>
                        <h3>Instituto profesional, INACAP. Antofagasta, Analista Programador, EGRESADO</h3>

                            <li>Desarrollo de soluciones de Software para componentes nuevos o 
                                existentes con estandares de seguridad.</li>
                            <li>Diseño de estructura de datos y componentes de base de datos. </li>
                            <li> Operaciones y gestion de tecnologías de la informacion. </li>
                            <li> Configuracion de entornos de trabajo para soportar las aplicaciones en el 
                                ambito del hardware y Software aplicando metodologías establecidas.</li>

                    </div>
                </div>

                <div class="educacion-content">
                    <div class="content">
                        <div class="year">Actualidad...</div>
                        <h3>Universidad Tecnologica de chile, INACAP. ANTOFAGASTA, Ingeniero Informatico, EN PROCESO. </h3>

                            <li>Desarrollo de soluciones de Software para componentes nuevos o 
                                existentes con estandares de seguridad.</li>
                            <li>Diseño de estructura de datos y componentes de base de datos. </li>
                            <li> Operaciones y gestion de tecnologías de la informacion. </li>
                            <li> Configuracion de entornos de trabajo para soportar las aplicaciones en el 
                                ambito del hardware y Software aplicando metodologías establecidas.</li>
                                
                    </div>
                </div>

             </div>
        </div>


        <div class="educacion-column">
            <h3 class="title">Cursos</h3>

            <div class="educacion-box">
               <div class="educacion-content">
                   <div class="content">
                    <li> Cisco: CCNA Networking para redes ip </li>
                    <li> Udemy: Master en JavaScript: Aprender JS, JQuery, Angular, NodeJS</li>
                    <li> Udemy: Programacion ba sica con Visual Basic .net</li>

                   </div>
               </div>

            </div>
       </div>

    </div>

</section>
