<section class="sobre-mi">
    <h2 class="cabecera">Sobre<span>mi...</span></h2> 

    <div class="sobremi-content">
        <h3>Estudiante desarrollador</h3>
        <p>Encontrar una empresa que me permita aplicar los conocimientos 
            adquiridos en los años de estudio, así como mi capacidad de 
            planificacion y organizacion de una empresa en compañías y afines. </p>

        <div class="btn-box btns">
            <a href="#" class="btn">Leer mas</a>
        </div>

        <h3>Experiencia laboral</h3>
        <h4>Puerto Angamos, Mejillones</h4>
        <h5>Agosto - octubre, 2022 </h5>
        <p>
            Practica profesional, Apoyo en implementar pruebas automatizadas de 
            servicios web, 
            Apoyo en implementar Github, 
            Creacion de aplicacion de escritorio con funciones de agregar una 
            bitacora de acuerdo a el usuario que lo este usando, hecho con Visual 
            Basic y PhpMyAdmin, 
            Uso de laravel y mvc para pagina web con funciones de formulario para 
            el area de administracion 
            Uso basico de SQL Server Management studio 19 para la creacion de 
            tablas sql y sus respectivas variables 
            Apoyo de en uso de Laravel para creacion de pa gina web. 
        </p>

        <h4>Enjoy, Antofagasta </h4>
        <h5>Diciembre 2022 - febrero 2023 </h5>
        <p>
            Tecnico soporte tecnolo gico 
            Soporte a usuarios relacionados con la plataforma tecnologica de 
            software, hardware y comunicaciones, gestionado por sistema de 
            tickets. 
            Instalacion y mantencion de equipos de pc, notebooks, handhels, 
            tablets, impresoras de acuerdos a la red informa tica de la empresa. 
            Escalamiento y/o seguimiento de incidentes del usuario. 
            Instalacion y busqueda de puntos de red junto con la creacion de estos 
            con norma a y b. Uso de instrumentos para cables de red Flukin, 
            ponchadora, ponchadora de impacto, mo dulos rj45 Uso de active 
            directory desbloqueo de cuentas dominio Soporte a sistemas como 
            adobe acrobat, sap, opera, etc. 
            Uso de sistemas de control remoto como teamviewere, ultravnc y 
            anydesk 
        </p>
    </div>

</section>
