<section class="skills" id="skills"> 
    <h2 class="cabecera">Mis<span>Habilidades</span></h2>

    <div class="skills-row">

        <div class="skills-column">
             <h3 class="title">Lenguajes Programacion</h3>

             <div class="skills-box">
                <div class="skills-content">

                    <div class="progress">
                        <h3>HTML<span>80%</span></h3>
                        <div class="barra"><span></span></div>
                    </div>

                    <div class="progress">
                        <h3>CSS<span>70%</span></h3>
                        <div class="barra"><span></span></div>
                    </div>

                    <div class="progress">
                        <h3>Javascript<span>60%</span></h3>
                        <div class="barra"><span></span></div>
                    </div>

                    <div class="progress">
                        <h3>Typescript<span>60%</span></h3>
                        <div class="barra"><span></span></div>
                    </div>

                    <div class="progress">
                        <h3>Visual Basic<span>50%</span></h3>
                        <div class="barra"><span></span></div>
                    </div>

                </div>

             </div>
        </div>

        <div class="skills-column">
            <h3 class="title">Herramientas Informaticas</h3>

            <div class="skills-box">
               <div class="skills-content">

                   <div class="progress">
                       <h3>Sql Server<span>70%</span></h3>
                       <div class="barra"><span></span></div>
                   </div>

                   <div class="progress">
                       <h3>MongoDB<span>80%</span></h3>
                       <div class="barra"><span></span></div>
                   </div>

                   <div class="progress">
                       <h3>Angular 12<span>70%</span></h3>
                       <div class="barra"><span></span></div>
                   </div>

               </div>

            </div>
       </div>

    </div>

</section>
